body {

  /* Primitives */
  --color-gray-900: black;
  --color-gray-800: #19191d;
  --color-gray-700: #373946;
  --color-gray-600: #52545f;
  --color-gray-500: #737580;
  --color-gray-300: #a6a7ac;
  --color-gray-200: #b6bcce;
  --color-gray-50: white;
  --color-puple-300: #8785f7;
  --color-brand-purple: #A259FF;

  /* Tokens */
  --surface-primary: var(--color-gray-900);
  --surface-secondary: var(--color-gray-800);
  --surface-contrast: var(--color-gray-300);
  --surface-invert: var(--color-gray-50);
  --surface-brand-purple: var(--color-brand-purple);
  --text-primary: var(--color-gray-50);
  --text-seconday: var(--color-gray-200);
  --text-invert: var(--color-gray-900);
  --text-brand: var(--color-gray-50);
  --text-link: var(--color-puple-300);
  --border-primary: var(--color-gray-500);
  --border-secondary: var(--color-gray-600);
  --border-tertiary: var(--color-gray-700);
  --shadow-brand: var(--color-brand-purple);
  --radius-rounded: 6px;

  background: var(--surface-primary) !important;
  color: var(--text-primary) !important;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: var(--text-primary);
}

body.figjam-article::after {
  position: fixed;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5;
  opacity: 0.5;
  background: url('https://github.com/MadMaxMcKinney/figma-help-center-dark-mode-boost/blob/main/grid.png?raw=true') !important;
}

/* Nav */

body .header-wrapper {
  background: #00000080 !important;
  backdrop-filter: blur(16px);
  color: var(--text-primary) !important;
}

.user-nav ul li a {
  color: var(--text-primary) !important;
}

.user-nav[aria-expanded="true"] {
  background: var(--surface-primary) !important;
  border-bottom: 2px solid var(--border-tertiary) !important;
}

.user-nav ul.category-list .sub-menu {
  background: var(--surface-primary) !important;
  border: 2px solid var(--border-tertiary) !important;
}

.user-nav ul li a:not(:only-child):after {
    filter: invert(1);
}

.header-signup-wrapper .search-wrapper .search-icon {
  filter: brightness(20);
}

.icon-menu::before {
  filter: brightness(20);
}

.header-signup {
  background: var(--surface-invert) !important;
  color: var(--text-invert) !important;
  transition: all 0.2s;
}

.header-signup:hover {
  background: var(--surface-brand-purple) !important;
  color: var(--text-brand) !important;
}

/* Page content */
.search-full input[type="submit"] {
  background: var(--surface-brand-purple);
  color: var(--text-primary);
}

.search-full input[type="submit"]:hover {
  background: var(--surface-invert);
  color: var(--text-invert);
}

.section.hero {
  background: var(--surface-primary);
}

strong {
  color: inherit !important;
}

/* Links */

body a {
  color: var(--text-link);
}

body a:hover {
  text-decoration: underline;
}

.section-tree-with-article h2 a, .section-page-container .page-header h1 {
  color: inherit !important;
}

.article-list-item a {
  color: var(--text-link) !important;
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--surface-secondary);
}

/* Notes */

.tip, .note, .caution, .warning, .danger, .notice {
  background: var(--surface-secondary) !important;
  color: var(--text-seconday) !important;
}

.note-wrapper .note p > span, .caution-wrapper .caution p > span, .tip-wrapper .tip p > span, .important-wrapper .important p > span, .notice-wrapper .notice p > span, .danger-wrapper .danger p > span, .warning-wrapper .warning p > span,
.note-wrapper .note p > strong:first-child, .caution-wrapper .caution p > strong:first-child, .tip-wrapper .tip p > strong:first-child, .important-wrapper .important p > strong:first-child, .notice-wrapper .notice p > strong:first-child, .danger-wrapper .danger p > strong:first-child, .warning-wrapper .warning p > strong:first-child {
    color: var(--text-primary) !important;
}

/* Tabs */
.tab {
  background: var(--surface-secondary) !important;
  border: 2px solid var(--border-tertiary) !important;
  border-bottom: none !important;
}

.tab button {
  color: var(--text-seconday) !important;
}

.tab button:hover {
  color: var(--text-invert) !important;
  background-color: var(--surface-invert) !important;
}

.tab button.active {
    color: var(--text-brand) !important;
    background-color: var(--surface-brand-purple) !important;
}

.tabcontent {
    border: 2px solid var(--border-tertiary) !important;
    background-color: var(--surface-secondary) !important;
    padding-bottom: 16px !important;
}

.tabcontent ul:last-child, .tabcontent ol:last-child {
  margin-bottom: 0px !important;
}

/* Article Content */

.breadcrumbs li {
  color: var(--text-seconday) !important;
}

.breadcrumbs li a:visited, .breadcrumbs li a {
  color: var(--text-link) !important;
}
.breadcrumbs li + li::before {
  color: var(--text-link) !important;
}

.article-body code:not(.article-body pre > code) {
  background: var(--surface-secondary) !important;
  border: 2px solid var(--border-tertiary) !important;
}

div.ui-icon, span.ui-icon, .ui-icon-no-border {
    filter: invert(1);
    border: none !important;
}

.before-you-start, .fj-bys-ui {
  background: var(--surface-secondary) !important;
  border: 2px solid var(--border-primary) !important;
  color: var(--text-seconday) !important;
}

.fj-bys-ui .label {
  background: transparent !important;
  color: var(--text-seconday) !important;
}

.before-you-start .sub-heading {
  color: var(--text-seconday) !important;
}

.before-you-start-border p {
  color: var(--text-seconday) !important;
}

.before-you-start .qualification p > span:not(.icon), .before-you-start .plan p > span:not(.icon) {
    font-weight: initial !important;
    color: var(--text-seconday) !important;
    background: var(--surface-secondary) !important;
    border: 2px solid var(--border-tertiary) !important;
    border-radius: var(--radius-rounded);
    padding: 0px 4px;
}

.qualification .icon::before, .plan .icon::before {
    color: var(--text-seconday) !important;
}

.before-you-start-border {
    border-top: 2px solid var(--border-tertiary) !important;
}

.section-item > a {
    color: var(--text-seconday) !important;
}

.alphabet {
  color: var(--text-primary) !important;
}

/* Article Controls */

.article-return-to-top {
  border: none !important;
}

.article-return-to-top a {
  color: var(--text-primary) !important;
}

.article-votes {
    text-align: center;
    margin: 32px 0px !important;
    background: var(--surface-secondary) !important;
    padding: 32px !important;
    border-radius: 8px;
    margin-bottom: 48px;
}

.article-votes-question {
  color: var(--text-primary) !important;
}

.article-vote {
    background: var(--text-link) !important;
}
.article-vote:hover {
    background-color: var(--surface-invert) !important; 
}

.labelOrganization a::after {
    background-color: var(--surface-secondary) !important;
    border: 1px solid var(--border-tertiary) !important;
    color: var(--text-seconday) !important;
}

.section-tree-with-article .article-promoted a::after {
    color: var(--text-primary) !important;
}

/* Tables */
tr:nth-child(even) {
  background: var(--surface-secondary) !important;
}

tr:nth-child(odd) {
  background: var(--surface-primary) !important;
}

.article-body table {
    border: 2px solid var(--border-tertiary) !important;
}

/* Hotkeys */
kbd {
    background: var(--surface-secondary) !important;
    color: var(--text-seconday) !important;
}

/* Images */
.article-body img:hover, .post-body img:hover, .comment-body img:hover {
    box-shadow: -8px 8px 0 0 var(--shadow-brand) !important;
}

/* Sidebar */

.table-of-content-wrapper .sidenav-title {
  background: var(--surface-secondary) !important;
}

#toc {
  background: var(--surface-primary) !important;
  border-radius: var(--radius-rounded); 
}

.mobile-fixed #toc {
  border: 2px solid var(--border-tertiary) !important;
}

#toc .active {
    background: var(--surface-brand-purple) !important;
}

#toc a {
  color: var(--text-primary) !important;
}

#toc a:hover {
  text-decoration: underline;
}

/* Search */

.search-result-title a {
  color: var(--text-link) !important;
  font-size: 22px;
}

.search-results-sidebar .collapsible-sidebar .sidenav-title {
  color: var(--text-primary) !important;
}

.sidenav-item {
  color: var(--text-link) !important;
}

.search-results-sidebar .see-all-filters {
    color: var(--text-link) !important;
}

.search-results-list > li:first-child {
    border-top: 1px solid var(--border-tertiary) !important;
}

/* Footer */
div .footer .footer-links a {
  color: var(--text-primary);
}

.footer .footer-links ul a {
  color: var(--text-seconday);
}

.footer .footer-links .social-link {
  color: var(--text-seconday) !important;
}
